.container{
  min-width: 940px;
  margin-top: 25px;
}

p{
  margin :0px !important;
}
#auth_wrapper{
 margin-top:15%;
}

#fblogin {
  margin-left: 41px;
  margin-right: 66px;
  position: absolute;
  top: 4px;
}

#availablityTable {
  border: 1px green solid;
  margin-top: 25px;
}

.slot,.tagsAdded {
  background: #4486F7;
  border: 1px #1369EA solid;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  color: white;
  font-size: 10px;
  display: inline-block;
}

.destroy,.removeSelected {
 color: #000 !important;
 font-size: 12px;
 line-height: 12px;
 margin-left: 5px;
 cursor: pointer;
 vertical-align: middle;
 padding: 0px 3px;
 padding-bottom: 3px;
 margin-top: -1px;
 display: inline-block;
 border: 1px #ddd solid;
 background: #ddd;
 border-radius: 21px;
}

.destroy:hover,.removeSelected:hover {
  background: #000;
  color: #fff !important;
  text-decoration: none;
}

.addSlot {
  padding: 5px 10px;
  border-radius: 5px;
  color: #ddd;
  background: #5bb75b;
  border: 1px green solid;
  cursor: pointer;
  margin: 10px;
  display: inline-block;
  &:hover{
    color: white;
    text-decoration: none;
  }
}

#availablityContainer {

}

#addNewAvailability select {
  margin: 15px 5px 5px 5px;
  width: 50px;
}

#content_title{
  color: #633700;
  font-size: 20px;
  line-height: 25px;
  padding: 10px 0px;
}
.table{
  width: 100%;
  list-style: none;
  margin-left: 0px;
  padding: 0px;
  outline: 1px solid lightGrey;
}
.table .thead{
  font-weight: bolder;
  text-transform: capitalize;
  background: #ddd;
}
.table div{
  display: inline-block;
  vertical-align: middle;
  word-wrap: break-word;
}
.table input,.table select{
  background: #fff;
  height: 32px;
  margin: 0px;
  width: 100%;
  border: 1px solid #ddd;
  padding: 5px;
  padding-left: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 3px #ddd;
  -moz-box-shadow: 0px 0px 3px #ddd;
  -ms-box-shadow: 0px 0px 3px #ddd;
  -o-box-shadow: 0px 0px 3px #ddd;
  box-shadow: 0px 0px 3px #ddd;
}
.table input:focus,.table select:focus{
  outline: 0px;
  border: 1px solid #f08a24;
  -webkit-box-shadow: 0px 0px 3px #f08a24;
  -moz-box-shadow: 0px 0px 3px #f08a24;
  -ms-box-shadow: 0px 0px 3px #f08a24;
  -o-box-shadow: 0px 0px 3px #f08a24;
  box-shadow: 0px 0px 3px #f08a24;
}
.table .tfoot input:focus,.table .tfoot select:focus{
  outline: 0px;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 0px 5px #fff;
  -moz-box-shadow: 0px 0px 5px #fff;
  -ms-box-shadow: 0px 0px 5px #fff;
  -o-box-shadow: 0px 0px 5px #fff;
  box-shadow: 0px 0px 5px #fff;
}
.col{
  padding: 1% 0.3%;
}
.table .first,.table .last{
  width: 12%;
}
.main-fields{
  width: 76%;
}

.main-fields .col{
  width: 16.666666667%;
}
.action a {
  margin: 0;
  padding: 0 5px;
  cursor: pointer;
}
.tbody li:nth-child(even){
  background: #F3F3F3;
}
.table .tfoot,.table li.active{
  background: #f08a24;
}
.display-block,.tbody{
  display: block !important;
}

#loader{
  margin-left: 400px;
}

#loader h3{
  margin-left: 400px;
}

#display_msg{
  margin-left: 20%;
  color :#3A3AB2;
  font-size: 20px;
  line-height: 25px;
  padding: 10px 0px;
  display:none;
}
.modal {
  background: none repeat scroll 0 0 #FFFFFF;
  display: none;
  left: 25%;
  overflow: auto;
  position: fixed;
  top: 20%;
  z-index: 1040;
  bottom: auto;
  width: 560px;
  border-radius: 5px;
}

.select2-no-results {
  display: none !important;
}



.sidebar{
  border: 1px #ddd solid;
  padding: 10px;
  border-radius: 5px;
  width: 165px;
  position: fixed;
  ul{
    list-style: none;
    padding: 0px;
    div{
      padding: 10px 0px;
    }
    li{
      padding: 5px 0px;
      padding-left: 10px;
      a{
        color: #000;
        &:hover{
          color: #f08a24;
        }
      }
    }
    li.heading{
      font-size: 15px;
      padding-left: 5px;
      font-weight: bolder;
      a{
        color: #000;
      }
    }
    li.active{
      a{
        color: #f08a24;
      }
    }
  }
  .divider{
    border: 1px #ddd solid;
    height: 1px;
    padding: 0px;
  } 
}

.availablity-table{
  list-style: none;
  padding: 0px;
  li{
    padding: 10px;
    &:nth-child(even){
      background: #F3F3F3;
    }
    div{
      display: inline-block;
      vertical-align: middle;
      text-align: center;
    }
    .day{
      width: 10%;
    }
    .all-slots{
      width: 80%;
      text-align: left;
    }
    .slot{
      a{
        color: #ddd;
        &:hover{
          color: #fff;
        }
      }
    }
  }
}
#addAvailability{
  padding-right: 0px;
  .title{
    font-weight: bolder;
    padding-top: 10px;
  }
  .all-select-holder{
    .select-holder{
      display: inline-block;
      vertical-align: middle;
      width: 30%;
      border: 1px #ddd solid;
      overflow: hidden;
      select{
        width: 135%;
        padding-right: 5px;
        background: #fff;
        border: none;
        &:focus{
          outline: none;
        }
      }
      &:last-child{
        margin-left: 5px;
      }
    }
    .colon{
      display: inline-block;
      vertical-align: middle;
      padding: 1px;
    }
  }
}
#selected_items{
  margin-top: 15px;
}

.form{
  .col{
    display: block;
    width: 100%;
    label{
      display: inline-block;
      width: 200px;
      padding-right: 15px;
    }
    input,select{
      width: 175px;
      background: #fff;
      display: inline-block !important;
      border: 1px solid #7E7E7E;
      padding: 3px;
      border-radius: 3px;
      &:focus{
        outline-color: #ddd;

      }
    }
  }
  .action{
    margin-left: 160px;
  }
}

#tfoot a{
  color : '#fff'
}

.left-icon a{

text-decoration: none;
text-align: center;
color: #000;
text-transform: uppercase;
}
.left-icon {
width: 150px;
height: 50px;
text-align: center;
background-color: #fff;
padding-top: 12px;
border: 1px #000 solid;
margin:3px;
}
.left-icon:hover{
 background-color: #001dff;
}
.page-content{
 

}
.delete{
 width: 70px;

 padding: 5px;
 background-color: #001dff;
 color: #fff;
 text-transform: uppercase;
 text-decoration: none;
 text-align: center;
}
.delete-icon a{ 
text-decoration: none;
}
.delete-icon a:hover{
 color: #fff;
text-decoration: none;
}
.first,.attr {
padding: 10px;
}
ul{
 list-style: none;
}

#details {
  padding:10px;
}

#details label {
    display: inline;
    font-weight: bold;
    margin-bottom: 5px;
    padding-right: 10px;
}

.item-details{
  min-height :400px;
}

.add_row {
    background-color: #001DFF;
    color: #FFFFFF;
    float: right;
    *padding: 5px 15px 5px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 70px;
}

.list-add{
  margin:30px;
  display: none;
}

.list-component{

}
