extends layout

block content
	- var redirectUrl;
	- if(payment.payer.payment_method === 'paypal') {
	- 	for(var i=0; i < payment.links.length; i++) {
	- 		var link = payment.links[i];
	- 		if (link.method === 'REDIRECT') {
	- 			redirectUrl = link.href;
	- 		}
	- 	}
	- }
	- var header = "Confirm The Purchase Details";
	- var paymentDetails = JSON.stringify(payment, null, 2);
	- var emailId = payment.transactions[0].description
	- var courseName = payment.transactions[0].item_list.items[0].name
	h1= header

	div#details
		table
			tbody
				tr
					td
						="Course Name"
					td
						=courseName
				tr
					td
						="Email Id"
					td
						=emailId

	if redirectUrl
		a(href=redirectUrl)
			button(type='submit') Confirm Purchase
	//pre
		//p= paymentDetails