extends layout

block content
	- var payment_details = JSON.stringify(payment, null, 2);
	- var emailId = payment.email_id
	- var courseName = payment.course_name
	- var status = payment.pay_state
	- var id = payment.pay_id
	- var course_id = payment.course_id
	p Please check your email for registration link.

	div#details
		h3 Purchase details: (This will be hidden. Displayed for testing purpose)
		table
			tbody
				tr
					td
						="Course Name"
					td
						=courseName
				tr
					td
						="Course Id"
					td
						=course_id
				tr
					td
						="Email Id"
					td
						=emailId
				tr
					td
						="Payment Id"
					td
						=id
				tr
					td
						="Payment Status"
					td
						=status
				

	//pre
		//p= payment_details