 extends layout

block content

  div#paypal
    h3 Buy Course
    form(action="/create")
      input(type='hidden', name='method', value='paypal')
      input(type='hidden', name='course_name', value='Sample Course Name')
      input(type='hidden', name='sku', value='123456')
      label(for='email') Email
      input(type='text', name='description', placeholder='Email id for Registration', required)
      button(type='submit') Buy Course

  